/*
colors used:
off-white (background, accent text): #f2f0ef
dark brown (primary text): #624041
pink (secondary text, fill): #e09294
darker pink (tertiarty text): #be7C7e
taupe (fill): #e2d0ba
*/

/* general text styling */ 
body {
    background-color: #f2f0ef;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    color: #624041;
}

h1 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 3em;
    font-weight: 600;
    line-height: 1em;
    color: #624041;
    text-align: center;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1em;
    color: #624041;
    text-align: center;
}

h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
    color: #624041;
    margin: 0;
}

h4 {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    color: #624041;
}

h5 {
    font-size: 1.25em;
    font-weight: 500;
    line-height: 1em;
    color: #624041;
}

h6 {
    font-size: 1em;
    font-weight: 500;
    line-height: 1em;
    color: #624041;
}

/* text styling for specific classes or ids */

#hero {
    text-align: center;
} 

#contact h2 {
    margin: 0;
}

.section h3 {
    margin-top: 10px;
}

/* image styling */ 

img {
    width: 100%;
}

.portfolio-images {
    padding: 0 2rem;
    text-align: center;
}

.chicago {
    width: 100%;
    max-width: 100%;
    height: auto;
    
}

@keyframes color-change {
    0% {fill: #c0d5ef;}
    50% {fill: #345c8c;}
    100% {fill: #081b54;}
  }
  
  @keyframes move-left-clouds {
    from {transform: translate(0,25px);}
    to {transform: translate(100px,25px);}
  }
  
  @keyframes move-middle-cloud {
    from {transform: translate(0,25px);}
    to {transform: translate(0,-75px);}
  }
  
  @keyframes move-right-clouds {
    from {transform: translate(0,25px);}
    to {transform: translate(-100px,25px);}
  }
  
  .frame {
      fill: none;
    }
  
   [class*="cloud-"]{
      fill: #faf9f6;
    }
  
  .cloud-left {
    animation-duration: 20s;
    animation-name: move-left-clouds;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .cloud-middle {
    animation-duration: 20s;
    animation-name: move-middle-cloud;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  .cloud-right {
    animation-duration: 20s;
    animation-name: move-right-clouds;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
    .building-back {
      fill: #b0d4ff;
    }
  
    .building-accent {
      fill: #003b7d;
    }
  
    .skyline-group {
      clip-path: url(#clippath-1);
    }
  
    .building-front {
      fill: #002e61;
    }
  
    .bg-fill {
      fill: #c0d5ef;
      animation-duration: 20s;
      animation-name: color-change;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in;
    }
  
    .building-mid-g1 {
      fill: #4283d1;
    }
  
    .building-mid-g2 {
      fill: #00418a;
    }
  
    .bushes {
      fill: #001226;
    }
  
    .bottom {
      fill: #002754;
    }
  
    .bean {
      fill: #0075fa;
    }
  
    .bg-frame {
      clip-path: url(#clippath);
    }

/* link styling */ 
a {
    color: #e09294;
    font-weight: 400;
    text-decoration: none;
}

a:visited {
    color: #be7C7e;
}

a:hover {
    color: #624041;
}

a:active {
    color: #624041;
}

/* button styling */ 
.button {
    color: #624041;
    background-color: #e2d0ba;
    border: 3px solid #e2d0ba;
    border-radius: 10px;
    padding: 5px;
    transition: 0.2s opacity;

}

.button.secondary {
    background-color: transparent;
    color: #e09294;
    border: 3px solid #e09294;
}

.button.contact {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    background-color: #e09294;
    border: 3px solid #e09294;
    color: #f2f0ef;
}

.button:visited {
    color: #624041;
}

.button.secondary:visited {
    color: #e09294;
}

.button:hover {
    background-color: #ecbebf;
    border: 3px solid #ecbebf;
    color: #624041;
    opacity: 0.8;
}

/* layout styling */
* {
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
}

#hero {
    background-color: #e2d0ba;
    padding: 20px 15px;
    display: inline-block;
    width: 100%;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.section {
    border-top: 3px solid #624041;
    margin: 20px;
}

#skills ul {
    margin: 8px 0;
}

[class*="col-"] {
    float: left;
    padding: 10px;
  }

/* header styling */

header {
    text-align: center;
    position: relative;
    background: #e2d0ba; 
	border: solid #BDBDBD 0; 
	box-shadow: 1px 5px 35px rgba(98, 64, 65, 0.5)  ; 
	-webkit-box-shadow: 1px 5px 35px rgba(98, 64, 65, 0.5)  ; 
	-moz-box-shadow: 1px 5px 35px rgba(98, 64, 65, 0.5)  ; 
}

.logo {
    max-width: 250px;
}

nav {
    display: inline-block;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav >ul >li {
    display: inline-block;
}

nav > ul > li > a {
    display: inline-block;
    padding: 0 20px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.25em;
    font-weight: 600px;
    color: #be7C7e;
}

nav > ul > li > a:visited {
    color: #be7C7e;
}

nav > ul > li > a:hover {
    color: #ffffff;
}

/* footer styling */

footer {
    text-align: center;
}

.social {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.social > li {
    display: inline-block;
    padding: 20px;
}

/* medium devices (640px and larger) */

@media only screen and (min-width: 640px) {
    header {
        text-align: unset;
        padding: 10px 0;
    }

    nav {
        width: auto;
        float: right;
        margin: 6px 0;
    }

    body {
        font-size: 18px;
    }

    .col-md-12 {
        width: 100%;

    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-6 h3 {
        text-align: center;
    }

    #contact {
        clear: both;
    }
    
}

/* large devices (1024px and larger) */

@media only screen and (min-width: 1024px) {

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* extra large devices (1440px and larger) */

@media only screen and (min-width: 1440px) {
}